# Use `source .env` to load items, likely you actually want
# ```sh
# set -a  # Automatically export variables
# source .env
# set +a  # Stop auto-exporting
# <run some commands that need these vars>
# ```
#
# DO NOT wrap variables in quotes (THING=stuff is correct, not THING="stuff")
# Otherwise passing them to docker/podman may fail.
#
# ALL VARIABLES need to be \n terminated, no whitespace trimming happens

#### Dependant & Provider Settings

# To get a new token, see https://docs.celestia.org/tutorials/node-tutorial#auth-token
# Locally running nodes can use:
# celestia <node-type> auth admin --p2p.network <network>
CELESTIA_NODE_AUTH_TOKEN=never-gonna-give-you-up
CELESTIA_NODE_HTTP=http://127.0.0.1:26658

#### Service Settings

EQ_DB_PATH=/tmp/db-eq-service-testing
# Expects a socket with ip & port specified (not transport)
EQ_SOCKET=127.0.0.1:50051
# Explicit port for docker (can't compute with --env-file)
EQ_PORT=50051
EQ_PROTO_DIR=./common/proto 

# For using the SP1 Prover network
# More info & request getting on the white list:
# <https://docs.succinct.xyz/docs/sp1/generating-proofs/prover-network>
NETWORK_PRIVATE_KEY=succinct-luvs-u 
